.top-navbar{
	padding-right:15px;
	border-radius:0px;
	background-color:#e8edf3;
	margin-bottom:0px;
	border-bottom:1px solid #c0cdd9;
}
.content{
	margin:0px;
}
.side-navbar{
	padding:0px;
	background-color:#e8edf3;
	border-right:1px solid #c0cdd9;
}
.side-navbar .nav > li > a {
	padding:15px;
	border-bottom:1px solid #c0cdd9;
}
.mainpage{
	margin:auto;
	padding:20px;
	border-radius:10px;
	background-color:#e8edf3;
	border:1px solid #c0cdd9;
}